/* src/pages/Home.css */

.HomeCapa {
    background-image: url('../assets/capa.png'); /* Caminho para sua imagem de fundo */
    background-size: cover; 
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat;
    filter: brightness(0.9); /* Opcional: Escurece um pouco a imagem para o texto sobressair */
}


.user-dropdown-toggle-no-caret::after {
    display: none !important; 
    content: none !important;
}
